html{
    margin: 0;
   font-family:  sans-serif;
}
body{
    margin: 0;
}
.banner{
    width:100vw;
    height: 430px;
    background-image: url(zomatoimg1.avif);
}
.header{
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
}
.getapp{
    margin-left: 90px;
    margin-top: 21px;
}
.relations{
    margin-left: 600px;
    margin-top: 21px;
}
.signup{
    margin-right: 200px;
    margin-top: 21px;
}
.header:hover{
    cursor: pointer;
}
.add,.login{
    margin-top: 21px;
}
.mainimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.img {
    width: 300px;
    height: 60px;
}
.maintext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}
.txt{
    width: 798px;
    height: 48px;
    color: white;
    font-size: 36px;
}
.search{
    height: 50px;
    width: 800px;
}
